mixin field-checkbox(props={})

    //- checkbox с label
    //- Данные для JS храняться в атрибутах Data
    //- 
    //- Принимает параметры в props:
    //- moduleClass             string      имя класса
    //- dataName                string      имя для data-name
    //- mods                    string      'open' - открыто меню
    //- labelTitle              string      
    //- attrs:                  {object}
    //-     name:               {string}
    //- ...
    //- 
    //- 


    -
        let moduleClass = (props.moduleClass) ? props.moduleClass : props.dataName
        let allMods = ''
        if (typeof(props.mods) !== 'undefined' && props.mods) {
        let modList = props.mods.split(',')
        for (let i=0; i < modList.length; i++) {
            allMods = allMods + ' field-checkbox_' + modList[i].trim()
            }
        }

    label.field-checkbox(
        class = moduleClass + allMods,
        data-name = (typeof(props.dataName) !== 'undefined' && props.dataName) ? props.dataName : ''
        )
        input.field-checkbox__input(
            type='checkbox',
             id=moduleClass,
             checked= (typeof(props.checked) !== 'undefined' && props.checked) ? props.checked : false
             )&attributes(props.attrs)
        div.field-checkbox__mark(for=moduleClass)
        span.field-checkbox__name(for=moduleClass)= props.labelTitle
